<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlightsASL</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='styles.css') }}?v=20260311" />
</head>
<body>
    <main class="page-shell">
        {% include "topbar.html" %}

        <div class="card">
            <p id="api-response">Arrivades/Sortides:</p>
            <select id="limit-select">
                <option value="1">1</option>
                <option value="10"selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <select id="asc-select">
                <option value="1"selected>Scheduled ASC</option>
                <option value="2">Scheduled DESC</option>
            </select>
            <button id="refresh">Refresh</button>
            <div id="search-results"></div>
        </div>
    </main>
    <script>
        const title = document.getElementById('api-response');
        const qs = new URLSearchParams(window.location.search);
        const name = qs.get('name');
        const iata = qs.get('iata');
        const type = Number(qs.get('type'));
        const select_limit =  document.getElementById('limit-select')
        const refresh =  document.getElementById('refresh')
        const select_asc =  document.getElementById('asc-select')
        const limit = Number(select_limit.value);
        const flightMode = type === 1 ? 'Arrivals' : 'Departures';
        console.log({name, flightMode });
        const results = document.getElementById('search-results');

        document.addEventListener("DOMContentLoaded", () => {
            if (!iata || iata === 'null' || iata === 'undefined') {
                window.location.replace('/airports');
                return;
            }
            title.textContent = `${name || "Airport"} (${iata || "Airport"}) - ${flightMode}`;
            storeLoad();
        });
        async function storeLoad(){
            storeFlights();
            loadFlights();
        }
        refresh.addEventListener('click',storeLoad)
        select_limit.addEventListener('change', storeLoad);
        select_asc.addEventListener('change', loadFlights);
        async function storeFlights() {
            if (!iata || iata === 'null' || iata === 'undefined') {
                window.location.replace('/airports');
                return;
            }
            
            const limit = Number(select_limit.value || 10);
            const res = await fetch(
                `/api/flights/storeFlights?iata=${encodeURIComponent(iata)}&type=${type}&limit=${limit}&page=1`,
                { method: 'POST' }
            );
        }

        async function loadFlights() {
            if (!iata || iata === 'null' || iata === 'undefined') {
                window.location.replace('/airports');
                return;
            }

            const limit = Number(select_limit.value || 10);
            const asc = Number(select_asc.value);
            const res = await fetch(`/api/flights/getFlights?iata=${encodeURIComponent(iata)}&type=${type}&limit=${limit}&asc=${asc}&page=1`);
            const flights = await res.json();

            console.log(flights)
            results.innerHTML = flights.map((a) => `
                <div class="airport-item">
                    <div class="airport-meta">
                        <p class="airport-name">${a.number} - / ${a.origin_iata} - ${a.origin} / ${a.destination_iata} - ${a.destination}</p> 
                        <p class="airport-coords">Departure: ${a.scheduled_departure} / Arrival: ${a.scheduled_arrival}</p> 
                    </div> 
                </div>
            `).join('');
        }
    </script>
</body>
</html>